<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <label>Active</label>
      <input type="text" class="form-control" [(ngModel)]="active">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-xs-12">
        <button class="btn btn-primary" (click)="addActive()">
          active
        </button>
      </div>
    <div class="col-xs-12 ml-2">
      <button class="btn btn-primary" (click)="all()">
        all
      </button>
    </div>
    <div class="col-xs-12 ml-2">
      <button class="btn btn-primary" (click)="completed()">
       completed
      </button>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="index == 1 || index==3;">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="index == 2">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let e of activeServerElements">
        <div class="panel-body">
          <p>
            <strong *ngIf="e.active === 'active'" style="color: red">{{ e.name + " " + e.content }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="index == 4">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let c of completedServerElements">
        <div class="panel-body">
          <p>
            <strong *ngIf="c.active === 'completed'" style="color: red">{{ c.name + " " + c.content }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
